/* Page-specific styling */
body {
    margin: 0 0 60px; /* bottom = footer height */
    background: white;
    font-family: Segoe UI, Segoe UI, serif;
}
/* bottom = footer height */
* {
    box-sizing: border-box;
}
.searchButton {
    background-color: #484644

}
#myinput {
    background-image: url('./Images/icons8search-24.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 1px;
}
/* search bar animation  css */
form.example input[type=text] {
    padding: 10px;
    font-size: 12px;
    border: .7px solid #e1dfdd;
    float: left;
    width: 90%;
    background: #ffffff;
}
/* search bar css animation */
form.example button {
    float: left;
    width: 10%;
    padding: 10px;
    background-color: #ffffff;
    color: gray;
    font-size: 12px;
    border: .5px solid #e1dfdd;
    border-left: none;
    cursor: pointer;
}

    form.example button:hover {
        background: #ffffff;
        font-size: 12px;
        
    }

form.example::after {
    content: "";
    clear: both;
    display: table;
}

/* scrollbar icon  */
.clickable {
    cursor: pointer;
    height: 40px;
    width: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

/* scrollbar */
.content {
    display: inline-flex;
    height: 100%;
    min-width: calc(190px *5);
    flex-direction: row;
    align-items: start;
    justify-content: center;
    transition: all .6s;
}

.mainViewer {
    max-width: 580px;
    width: 580px;
    height: 45px;
    overflow: hidden;
    border-color: #605e5c;
}


.filterDiv {
    float: inherit;
    background-color: #2196F3;
    margin: 2px;
    display: none;
}

.show {
    display: block;
}
/* clickable */

.clickable {
    cursor: pointer;
}

.arrow {
    border: solid gray;
    border-width: 0px 3px 3px 0;
    display: inline-block;
    padding: 3px;
    align-content: start;
}


.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}


.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/* Style the buttons */

#btnR {
    border: none;
    outline: none;
    padding: 9px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: .5em;
    margin-top: 5px;
    background: white;
    height: 35px;
    width: 15px;
}

/* makin the window static  css */
column {
    padding: 5px;
    padding-top: 1px;
    width: 100%;
}

.column {
    padding: 5px;
}
 
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
img {
    max-height: 130px;
    max-width: 100px;
    width: 150%;
    height: 120%;
    
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

.row {
    display: flex;
}
   
/* New scroll left bar */
.show {
    display: inline-block;
}

.container {
    overflow: hidden;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 5px;
    font-size: .8em;
    margin-left: .3px;
    margin-right: .3px;
    margin-top: 5px;
    height: 35px;
    width: 96px;
    color: #605e5c;
    /* Style the buttons */
    justify-content: center;
}
    /* Add a light grey background on mouse-over */
    .btn:hover {
        background-color: #f1f1f1;
    }

    /* Add a dark background to the active button */
    .btn.active {
        background-color: #f1f1f1;
    }


